<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <button class="btn btn-default btn-sm pull-right" style="margin-top: 7px;">Toevoegen</button>
        <h4>Vacatures</h4>
      </div>
      <ul class="list-group">
        <app-vacature-item *ngFor="let vacature of vacatures" [vacature]="vacature" maximumLengteOmschrijving="60" (click)="onVacatureGeselecteerd(vacature)"></app-vacature-item>
      </ul>
    </div>
  </div>
</div>